<div class="row shadow rounded">
	<div class="col-12 col-md-12 p-3">
		<h3>Android APK</h3>
		<a href="" class="btn btn-success" target="_blank">Download APK</a>
		<p>
			And with the rapid advancement of technology, we can now easily enjoy the Android APK service for the need
			to check detailed reports via the Unicentapos Android APK, this is a demo APK ,how to work and check
			Unicenta reports online via Android APK. because we not upload APK on google play store , so you need follow
			how to install android APK on your android smartphone, <a href="https://www.youtube.com/watch?v=WseLqDE1eG8"
				class="text-danger" target="_blank">play video here →</a>
		</p>

	</div>

</div>