<div class="row shadow rounded">
	<div class="col-12 col-md-6 p-3 p-md-5 lead">
		<h3 class="text-danger">About Unicentapos Angular.</h3>
		<p>Open source code project for unicenta backoffice admin dashboard, develope using unicenta cloud based
			integration with angular web app, make modern your dashboard office web apps.<br/>for complete features with income report details and login features including domain .com + free website + Android APK ,you can order we clouds service or use unicenta web reporting.
		play demo premium web app here <a href="https://www.youtube.com/watch?v=tsaJCOaBvug" class="btn btn-danger"
				target="_blank">Play demo </a>
			<br/>If you need another web apps you can call us for web apps services, present by <a
				href="https://axcora.com" target="blank" class="text-danger">https://axcora.com</a>.</p>
	</div>
	<div class="col-12 col-md-6 p-3 p-md-5">
		<h3 class="text-danger">About Unicentapos</h3>
		<p> uniCenta oPOS - Touch friendly Point Of Sale
			Copyright (c) 2009-2017 uniCenta.
			http://sourceforge.net/projects/unicentaopos
			This file is part of uniCenta oPOS.
			uniCenta oPOS is free software: you can redistribute it and/or modify
			it under the terms of the GNU General Public License as published by
			the Free Software Foundation, either version 3 of the License, or
			(at your option) any later version.
			uniCenta oPOS is distributed in the hope that it will be useful,
			but WITHOUT ANY WARRANTY; without even the implied warranty of
			MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
			GNU General Public License for more details.

			You should have received a copy of the GNU General Public License
			along with uniCenta oPOS. If not, see
			http://www.gnu.org/licenses. <br /> <a href="https://unicenta.com" class="text-danger"
				target="blank">https://unicenta.com</a>
		</p>
	</div>
</div>