<div class="row shadow rounded">
	<div class="col-12 col-md-12 p-3">
		<h3>Hello World</h3>
		<p>
			Welcome to unicentapos web apps dashboard back office develope using angular,This is a open source code
			project you can download it and install for help you monitoring your bussiness. thiw web app has develope by
			axcora tehcnology point of sale web app solutions, if you need create and develope website + application
			call we team on chat whatsapp : +6285646104747 / Call : +6287819355589 / email : axcora@gmail.com
		</p>

	</div>

</div>